---
layout: default
title: Home
---

<div class="posts">
  {% for category in site.categories %}
  <h1 class="page-heading">{{ category | first }}</h1>
  {% for posts in category %}
  <ul class="post-list">
    {% for post in posts reversed %}
    {% if post.url %}
    <li>
      <h2>
        {% if post.link %}
        <a class="direct-link" href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        {% endif %}
      </h2>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}
        {% if post.time %}
        &ndash; {{ post.time | date: "%I:%M %p" }}
        {% endif %}
        {% if post.loc %}
        &ndash; {{ post.loc }}
        {% endif %}
      </span>
      <p>
        {% if post.link %}
        {% else %}
        {{ post.content | truncatewords:35 }}
        {% endif %}
      </p>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endfor %}
  {% endfor %}
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
